* {
    padding: 0px;
    margin: 0px;
}
main {
    margin-top: 115px;
}
.bg-graynav {
    background-color: #3e4349;
}

/*Portada de pagina de inicio*/

.portada{
    color: white;
    font-size: 1.2em;
    height: 600px;
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
.portada img {
    transition: 0.5s opacity;
    height: 600px;
}
.portada:hover img {
    opacity: 0.7;
}
.contenedorPortada {
    position: relative;
    bottom: -35%;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: column;
}
.portadaTexto {
    position: relative;
    bottom: -35%;
    margin-right: 10%;
}

/*Contenedor de Oradores*/

.container {
    position: relative;
    display: block;
    margin-top: 10px;
    color: black;
}
.conoce {
    text-align: center;
    font-size: 3vh;
}
.oradores {
    text-align: center;
    font-size: 6vh;
}

/*Footer*/

footer {
    background-color: #244a5f;
    margin-top: 1rem;
}

footer .bg-cr {
    background-color: rgb(0, 0, 0);
}

/*Compra de tickets*/

.contenedorTickets{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.tarjetasTickets {
    padding-top: 30px;
}